@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveSlow {
  0% { 
    transform: translate(0, 0) scale(1) rotate(0deg); 
  }
  50% { 
    transform: translate(100px, 100px) scale(1.2) rotate(45deg); 
  }
  100% { 
    transform: translate(0, 0) scale(1) rotate(0deg); 
  }
}

@keyframes moveFast {
  0% { 
    transform: translate(0, 0) scale(1) rotate(0deg); 
  }
  50% { 
    transform: translate(-100px, -100px) scale(1.2) rotate(-45deg); 
  }
  100% { 
    transform: translate(0, 0) scale(1) rotate(0deg); 
  }
}

@keyframes moveMedium {
  0% { 
    transform: translate(0, 0) scale(1) rotate(0deg); 
  }
  50% { 
    transform: translate(60px, 60px) scale(1.1) rotate(30deg); 
  }
  100% { 
    transform: translate(0, 0) scale(1) rotate(0deg); 
  }
}

/* Applying the animations */
.animate-move-slow {
  animation: moveSlow 10s ease-in-out infinite;
}

.animate-move-fast {
  animation: moveFast 5s ease-in-out infinite;
}

.animate-move-medium {
  animation: moveMedium 7s ease-in-out infinite;
}

  

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee 10s linear infinite;
    animation-play-state: running;
  }
  
  .whitespace-nowrap {
    white-space: nowrap;
  }
  
  